@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


body{
    font-family: 'Press Start 2P', cursive;
    margin: 0%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    line-height: 2em;
    font-size: 16px;
}

header{
    padding-top: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 2em;
    line-height: 4em;
    text-align: center;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
    text-align: center;
}

li{
    padding: 1.5em;
    text-align: center;
}

.spinner{
    margin-top: 2em;
    margin-bottom: 2em;
    align-items: center;
    height: 10em;
}

.hidden{
    display: none;
}

a{
    text-transform: capitalize;
    text-decoration: none;
    color: black;
}

figcaption > a{
    padding: .5em;
    font-size: 2em;
}

figcaption > a:hover{
    background-color: rgb(202, 14, 202);
    color: white;
    border: 2px solid black;
}

img{
    height: 15em;
    width: 15em;
}